body{
    background-color: white;
    align-items: center;
    justify-content: center;
}
#btn{
    background-color: orangered;
    height: 50px;
    width: 180px;
    color: whitesmoke;
    font-weight: bolder;
    border: 1px solid orange;
    border-radius: 10px;
    justify-content: flex-end;
}
.table{
    background-color: white;
    justify-content: center;
    padding-left: 30%;
    padding-bottom: 0%;
    height: 200px;
    width: 300px;
}
.form{
    height: 50px;
    width: 200px;
    color: rgb(34, 34, 165);
    font-weight: bolder;
    border: 2px dotted green;
    border-radius: 7px;
    background: transparent;
    gap: 10px;
}
.field{
    color: black;
    font-size: 17px;
    font-weight: bold;
    font-style: initial;
}
label{
    font-size: 25px;
    color: rgb(49, 70, 156);
}